body{
    background-image: linear-gradient(135deg, yellow, #FFA500, yellow);
    min-height: 100vh;
}

.cronometro {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    display: flex;
    margin: 0 auto;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn{
    margin: 5%;
}